body._a3wf {
  background: rgb(var(--ig-primary-background));
  color: rgb(var(--ig-primary-text));
  font-family: var(--font-family-system);
  font-size: var(--system-14-font-size);
  line-height: var(--system-14-line-height);
  margin: 0;
  overflow-y: visible;
}
#bootloader_Fm4crfp {
  height: 42px;
}
.bootloader_Fm4crfp {
  display: block !important;
}
